/* Using SCSS variables to store breakpoints */
* {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 5px;
  background-color: #0B0A06;
}

h3 {
  font-size: 23px;
}

.w-70 {
  max-width: 70%;
}

.w-60 {
  max-width: 60% !important;
}

.bg-light-brown {
  background-color: #F4E5D9;
}

.box-category {
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 12px;
  color: #F4E5D9;
}

.see-all {
  text-decoration: none;
  color: #0B0A06;
}
.see-all svg {
  rotate: -130deg;
}
.see-all:hover {
  text-decoration: underline;
}

.create-by {
  font-size: 13px;
  color: #ABA199;
}
.create-by a {
  color: #ABA199;
}
.create-by .fa-circle {
  font-size: 5px;
  margin: auto 5px 3px 5px;
}

nav {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid;
}
nav .nav-icon {
  color: #0B0A06;
}
nav .nav-icon .nav-icon-item {
  font-size: 30px;
}
nav .nav-icon .nav-icon-item path {
  color: #0B0A06;
}
nav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
}

.main-banner .carousel .carousel-item img {
  max-height: 450px;
}
.main-banner .carousel .carousel-item .container {
  position: relative;
}
.main-banner .carousel .carousel-item .banner-content {
  position: absolute;
  left: 0;
  bottom: 0;
}
.main-banner .carousel .carousel-item .banner-content .banner-option .category {
  padding: 5px 10px;
  background-color: red;
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 15px;
}
.main-banner .carousel .carousel-item .banner-content h1, .main-banner .carousel .carousel-item .banner-content p, .main-banner .carousel .carousel-item .banner-content span {
  color: #F4E5D9;
}

.main {
  background-color: #F4E5D9;
}
.main .block-element {
  padding-bottom: 80px;
  border-bottom: 2px solid #0B0A06;
}
.main .block-element .block-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 28px;
}

.subscribe-form h2, .subscribe-form p {
  color: #F4E5D9;
}
.subscribe-form .form-subscribe {
  position: relative;
}
.subscribe-form .form-subscribe input {
  padding: 10px 100px 10px 30px;
  min-width: 350px;
  background: #0B0A06;
  border: 1px solid #F4E5D9;
}
.subscribe-form .form-subscribe svg {
  position: absolute;
  left: 7px;
  top: 33%;
  font-size: 18px;
}
.subscribe-form .form-subscribe svg path {
  fill: #F4E5D9;
}
.subscribe-form .form-subscribe span {
  position: absolute;
  right: 0;
  background-color: #F4E5D9;
  color: #0B0A06;
  padding: 12px 18px;
  text-transform: uppercase;
  font-weight: 600;
  height: 100%;
}

.main-footer {
  background: #F4E5D9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.main-footer .footer-date p {
  text-align: center;
  color: #ABA199;
}
.main-footer .footer-link-title {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  color: #0B0A06;
}
.main-footer .footer-link-list {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}
.main-footer .footer-link-list li {
  margin-top: 1rem;
}
.main-footer .footer-link-list a {
  text-decoration: none;
  color: #0B0A06;
}
.main-footer .footer-link-list a:hover {
  text-decoration: underline;
}

.about-us {
  background: #F4E5D9;
}
.about-us .container {
  border-bottom: 1px solid;
}
.about-us h2 {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}
.about-us .about-text {
  font-size: 25px;
  line-height: 2.5rem;
}
.about-us .about-text strong {
  font-size: 25px;
}
.about-us .about-text i {
  font-size: 25px;
}
.about-us p {
  font-size: 16px;
}

.founder-tdfs {
  background: #F4E5D9;
}
.founder-tdfs h2 {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}
.founder-tdfs h3 {
  font-weight: 900;
  font-size: 23px;
}
.founder-tdfs .founder-info .founder-avatar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.categories-page {
  background: #F4E5D9;
}
.categories-page h2 {
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 1px;
}
.categories-page .categories-banner img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
.categories-page .first-post {
  border-bottom: 1px solid;
  padding-bottom: 70px;
}
.categories-page .first-post .fa-circle {
  font-size: 5px;
  margin: auto 5px 3px 5px;
}
.categories-page .first-post h3 {
  font-weight: 600;
  line-height: 2.2rem;
}
.categories-page .first-post h3 span {
  font-size: 23px;
  font-style: italic;
  font-weight: 300;
}
.categories-page .first-post .see-all {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  margin-top: 15px;
  letter-spacing: 1px;
}

.last-posts {
  background: #F4E5D9;
}
.last-posts h3 {
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 1px;
}
.last-posts .box-article h4 {
  font-weight: 600;
}
.last-posts .box-article h4 span {
  font-size: 23px;
  font-style: italic;
  font-weight: 300;
}
.last-posts .box-article .see-all {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  margin-top: 15px;
  letter-spacing: 1px;
}
.last-posts .load-more {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  margin-top: 15px;
  letter-spacing: 1px;
}

.details-page {
  background: #F4E5D9;
}
.details-page .detail-title {
  font-weight: 600;
}
.details-page .detail-pic {
  max-height: 400px;
}
.details-page .detail-pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.details-page p {
  font-size: 16px;
}
.details-page .detail-content {
  font-size: 16px;
  line-height: 2.3rem;
}

@media (max-width: 768px) {
  .w-60 {
    max-width: 80% !important;
    margin: auto;
  }
}/*# sourceMappingURL=style.css.map */